<section class="inicio">

  <div class="texto">
    <p class="bienvenida">BIENVENIDOS</p>

    <h1>Restaurante MANILA</h1>

    <p class="descripcion">
      Donde cada sabor se convierte en una experiencia.
    </p>
  </div>

</section>


<section class="imagen">

  <img 
    src="https://i.pinimg.com/1200x/ec/b8/60/ecb8602d3fc7ed53230bd5578eb773d9.jpg"
    class="rounded"
    alt="Restaurante Manila">

</section>


<section class="presentacion">

  <h2>Una experiencia para disfrutar</h2>

  <p>
    En MANILA combinamos sabores, elegancia y dedicación
    para ofrecerte momentos especiales en cada plato.
  </p>

</section>


<app-platoestrella></app-platoestrella>

<app-bebidaestrella></app-bebidaestrella>