<footer class="footer">

  <div class="footer-contenido">

    <div class="footer-seccion">
      <h2>MANILA</h2>
      <p>
        Donde cada sabor se convierte en una experiencia.
      </p>
    </div>

    <div class="footer-seccion">
      <h3>Contacto</h3>
      <p>Colombia</p>
      <p>+57 300 000 0000</p>

    </div>

    <div class="footer-seccion">
      <h3>Horarios</h3>
      <p>Lunes - Viernes</p>
      <p>11:00 AM - 9:00 PM</p>
      <p>Sábados - Domingos</p>
      <p>11:00 AM - 10:00 PM</p>
    </div>

  </div>

  <div class="footer-final">
    <p>© 2026 Restaurante MANILA. Todos los derechos reservados.</p>
  </div>

</footer>
